body {
  background-color: #ebebeb;
  height: 100%;
}

.card-widget {
  color: #243e63;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
  border-radius: 20px;
}

.header-2 {
  color: #243e63;
}

.card-product {
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card-product:hover {
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
}

.card-product .btn:hover {
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
}

.badge {
  background-color: #ffc10721;
  box-shadow: 0 0.2rem 0.5rem rgb(255 193 7 / 40%);
}

#aside-container {
  min-height: 100%;
  /* background-color: #243e63; */
}

/* @media only screen (max-width: 590px) { */
#productContainer,
#userContainer {
  width: 800px;
  max-width: 95%;
}

/* } */

.userImg {
  max-width: 10rem;
}

/* #userSidepanel {
  background-color: #111111;
} */
/* 
palette color:

#FFBB00;
#243e63;
#F7FAFC;
*/

.swall-overlay {
  z-index: 10005;
}
.swal-modal {
   z-index: 10005;
}