body {
  background-color: #ebebeb;
}

.card-widget {
  color: #243e63;
  /* background-color: rgb(228, 228, 228); */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.header-2 {
  color: #243e63;
}

.card-product {
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card-product:hover {
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
}

.btn-details, .btn-details:hover{
    background-color: #ffc107;
    border: none;
}

.btn-details:hover{
    color: black;
    border: none;
}

.btn-cart, .btn-cart:hover{
    background-color: #243e63;
    border: none;
}

.btn-cart:hover{
    color: black;
    border: none;
}

.badge{
  background-color: #ffc10721;
  box-shadow: 0 0.2rem 0.rem rgb(255 193 7 / 40%);

}
/* 
palette color:

#FFBB00;
#243e63;
#F7FAFC;
*/
